Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: add debug logging for image extraction issue
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: use more permissive regex for image extraction
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: clean base64 whitespace from Gemini image data
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: add debug logging and fallback image for troubleshooting
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: responsive design + right-click context menu
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/app/globals.css
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): add Imagen API fallback when Gemini fails to generate images
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ui): increase responsive font sizes for better readability
  frontend/app/globals.css
Due: none

fix(db): create missing raw_data table and fix JSON query syntax
  backend/Dockerfile
  backend/prisma/migrations/20251126_create_raw_data_table/migration.sql
  backend/src/modules/data-management/services/duplicate-detector.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(admin): change AI model upsert logic to use modelId instead of name
  backend/src/modules/admin/admin.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(db): change AI model unique constraint from name to modelId
  backend/prisma/migrations/20251126_aimodel_unique_modelid/migration.sql
  backend/prisma/schema.prisma
Due: none

feat(ai): add dynamic AI model list from database
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/ai-group/TopicSettingsDialog.tsx
  frontend/hooks/useAIModels.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ui): change AI model selector to dropdown
  frontend/app/youtube/page.tsx
  frontend/components/ai-group/TopicSettingsDialog.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai): integrate AI endpoints into NestJS backend
  backend/src/modules/ai/ai.controller.ts
  frontend/app/api/ai-service/ai/chat/route.ts
  frontend/app/api/ai-service/ai/insights/route.ts
  frontend/app/api/ai-service/ai/quick-action/route.ts
  frontend/app/api/ai-service/ai/summary/route.ts
  frontend/app/api/ai-service/ai/translate-segments/route.ts
  frontend/app/api/ai-service/ai/translate-single/route.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(youtube): fix context menu and note save issues
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(youtube): fix context menu not showing on first right-click
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(youtube): improve context menu and implement Notes tab
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(notes): add authentication headers to NotesList API calls
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): return parsed JSON array from extractJsonArray
  backend/src/modules/ai/ai.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): add gemini-image model for image generation
  backend/src/modules/ai-group/ai-group.service.ts
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-models): use unique database ID for model selection
  backend/src/modules/ai/ai.service.ts
  frontend/components/ai-group/TopicSettingsDialog.tsx
  frontend/hooks/useAIModels.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): keep full AI member names and use AI model for translation
  backend/src/modules/ai/ai.service.ts
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): use modelName instead of id for AI model selection
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ui): render AI summary with ReactMarkdown for proper formatting
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(notes): add OptionalJwtAuthGuard to resource notes query
  backend/src/modules/notes/notes.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ui): improve NotesList layout for sidebar display
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ui): render notes content with ReactMarkdown formatting
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): support parenthetical suffixes in AI member mentions
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): simplify AI member mention matching
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): prioritize exact match over prefix match for mentions
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): fix mention regex to capture parenthetical suffix
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): use modelId instead of hardcoded model names for AI selection
  backend/src/modules/ai-group/ai-group.service.ts
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/app/ai-group/page.tsx
  frontend/app/api/ai-office/chat/route.ts
  frontend/app/page.tsx
  frontend/app/workspace/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/ai-group/SummaryDialog.tsx
  frontend/components/ai-group/TopicSettingsDialog.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ui): show specific model name during AI analysis loading state
  frontend/app/workspace/page.tsx
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): improve @ mention matching with suffix and contains match
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ui): refactor WhitelistManagement to match AI Models card style
  frontend/components/admin/WhitelistManagement.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(import): add POLICY resource type support for URL import
  frontend/components/ImportUrlDialog.tsx
  frontend/components/data-management/DataImportDialog.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(explore): add POLICY type to resource fetching and file upload
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(proxy): add government and policy domains to whitelist
  .env.example
  backend/src/app.module.ts
  backend/src/config/domain-whitelist.config.ts
  backend/src/modules/wechat-work/README.md
  backend/src/modules/wechat-work/wechat-work-crypto.service.ts
  backend/src/modules/wechat-work/wechat-work.controller.ts
  backend/src/modules/wechat-work/wechat-work.module.ts
  backend/src/modules/wechat-work/wechat-work.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): improve @ mention matching for similar AI names
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): improve base64 image extraction from AI messages
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai): use Imagen 3 for image models to improve quality
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
