Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(seed): replace ts-node with tsx to fix ES module import errors
  backend/package.json
Due: prettier --write

fix(seed): explicitly map fields to avoid JSON serialization errors
  backend/prisma/seed-data-sources.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(seed): only include defined fields to avoid undefined value issues
  backend/prisma/seed-data-sources.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(frontend): fix Library page navigation and YouTube video display
  frontend/app/library/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(seed): force JSON serialization for all Json type fields
  backend/prisma/seed-data-sources.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(deploy): use SQL migration for data sources (industry best practice)
  backend/prisma/migrations/20251123_seed_predefined_data_sources/migration.sql
  backend/prisma/seed.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(backend): correct PostgreSQL array types in data sources migration
  backend/prisma/migrations/20251123_seed_predefined_data_sources/migration.sql
Due: none

fix(backend): add automatic failed migration resolution to deployment
  backend/package.json
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(backend): completely rebuild data sources migration with correct types
  DATA_SOURCES_SETUP.md
  backend/prisma/migrations/20251123_seed_predefined_data_sources_v2/migration.sql
  backend/prisma/resolve-migrations.ts
  docs/architecture/ai-office-content-studio.md
  docs/architecture/ai-office-multi-file-analysis.md
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: add force migration cleanup script
  backend/prisma/force-clean-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: force delete failed migrations from database
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

docs(architecture): upgrade AI Office to v2.1 - Gemini 3 + Imagen 3 + Real-time Collaboration
  docs/architecture/ai-office-content-studio.md
Due: prettier --write

fix: add detailed logging to migration cleanup
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: proactively delete ALL failed migrations before deploy
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

docs(architecture): update AI Office deployment to Railway platform
  docs/architecture/ai-office-content-studio.md
Due: prettier --write

fix: add detailed startup logging for debugging Railway deployment
  backend/package.json
  backend/railway.toml
Due: prettier --write

fix: use bash startup script for better error handling
  backend/railway.toml
  backend/start.sh
Due: none

fix: use inline bash command instead of external script
  backend/railway.toml
Due: none

fix: use sh instead of bash (Alpine Linux compatibility)
  backend/railway.toml
Due: none

fix(backend): correct data_sources schema to match database types
  backend/prisma/schema.prisma
Due: none

feat: add bulk data source import functionality
  backend/scripts/import-data-sources-to-railway.ts
  backend/src/modules/data-collection/data-source.controller.ts
  backend/src/modules/data-collection/data-source.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: integrate structured AI summary for all resource types
  frontend/app/resource/[id]/page.tsx
  frontend/components/features/StructuredAISummary/index.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: redesign resource detail tabs with icon-only interface
  frontend/app/resource/[id]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore(backend): update import script and add datasource checker
  backend/check-datasources.ts
  backend/scripts/import-data-sources-to-railway.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(frontend): optimize cache strategy for faster deployments
  frontend/next.config.js
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix'

fix(deploy): force Railway rebuild with nixpacks
  docs/guides/railway-deployment-fix.md
  frontend/Dockerfile.backup
  scripts/deployment/fix-railway-deployment.bat
  scripts/deployment/fix-railway-deployment.sh
Due: prettier --write

chore: bump frontend version to force railway cache clear
  frontend/package.json
Due: prettier --write

chore: add build env to force railway rebuild
  frontend/railway.toml
Due: none

feat: add icon-only tabs with Image tab to main page
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: align right AI panel top edge with search bar
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: correct right panel tab alignment and layout
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: improve AI assistant panel UI/UX
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: add database connection retry logic for Railway deployment
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

Revert "fix: add database connection retry logic for Railway deployment"
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(frontend): improve AI chat interface UI/UX
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/ai-office/chat/ChatPanel.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(frontend): enhance right panel icon buttons size for better UX
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(frontend): optimize right panel icon buttons for better visual balance
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor(frontend): redesign right panel icon buttons with modern minimalist style
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
