Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

.lintstagedrc.json:

{
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "backend/**/*.{ts,tsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd backend && npm run type-check'"
  ],
  "backend/**/*.{js,jsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd frontend && npm run type-check'"
  ],
  "frontend/**/*.{js,jsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write"
  ]
}

fix(ai): update Imagen API to v4 with correct endpoint format
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): include conversation context in image generation prompts
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): improve image generation quality with Nano Banana
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): enforce English text in generated images to avoid garbled characters
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ui): show model list as chips grid instead of dropdown
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): use gemini-2.0-flash-exp for native image generation
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ui): properly render base64 images in AI Summary
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ui): rename Resources to AI Picks and fix YouTube notes crash
  frontend/app/youtube/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(api): use OptionalJwtAuthGuard for youtube-videos list endpoint
  backend/src/modules/youtube-videos/youtube-videos.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ui): pass accessToken when fetching youtube-videos
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(notes): add source filter support for getUserNotes API
  backend/src/modules/notes/notes.controller.ts
  backend/src/modules/notes/notes.service.ts
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ui): add expand/collapse for YouTube notes cards
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ui): add expand/collapse for NotesList component
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ui): improve ReaderView typography and reading experience
  frontend/components/ui/ReaderView.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): use article text content for AI Summary quick action
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ui): improve ReaderView with blog-style formatting
  frontend/components/ui/ReaderView.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): always generate images for image-specific AI models
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix image generation for AI models with "Image" in display name
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): fix image prompt not containing user's actual request
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): include full conversation history in image generation prompt
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): use configured model directly without fallbacks
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): add detailed logging for AI model lookup
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai): add diagnostic endpoints for AI model configuration
  backend/src/modules/ai/ai.controller.ts
  backend/src/scripts/test-gemini-image.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai): add check-topic-ai endpoint to diagnose AI member configuration
  backend/src/modules/ai/ai.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): explicitly select apiKey in model lookup queries
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): use single-turn format for Gemini 3 image models
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): enhance Gemini 3 image prompt to avoid garbled Chinese text
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): improve Gemini image prompt for professional business style
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): use generic image generation prompt
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): remove prompt instructions that were rendering in generated images
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): major enhancement to AI Group interaction system
  backend/prisma/schema.prisma
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.module.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai-group/dto/forward-messages.dto.ts
  backend/src/modules/ai-group/dto/index.ts
  frontend/components/ai-group/MessageSelectionToolbar.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-group): integrate message selection and forward in Topic page
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-group): add AI capability labels and collaboration indicator
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore(db): add migration for AI capabilities and message forward tables
  backend/prisma/migrations/20251128_add_ai_capabilities_and_forward/migration.sql
Due: none

fix(ai-group): trigger AI response for @Everyone mention type
  backend/src/modules/ai-group/ai-group.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): implement AI-AI collaboration feature
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai-group/dto/add-ai-member.dto.ts
  backend/src/modules/ai-group/dto/update-ai-member.dto.ts
  backend/src/modules/ai/ai-chat.service.ts
  frontend/components/ai-group/TopicSettingsDialog.tsx
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): require IMAGE_GENERATION capability for image responses
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-chat): fall back to text model for image-only models on non-image requests
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): fix AI-AI collaboration and add debate setup API
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): auto-detect debate mode when @mentioning two AIs
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'
