Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

.lintstagedrc.json:

{
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "backend/**/*.{ts,tsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd backend && npm run type-check'"
  ],
  "backend/**/*.{js,jsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd frontend && npm run type-check'"
  ],
  "frontend/**/*.{js,jsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write"
  ]
}

fix(docker): install devDependencies for nest build
  backend/Dockerfile
Due: none

fix(deps): move tsx to production dependencies
  backend/package.json
Due: prettier --write

fix(docker): switch from Alpine to Debian-slim for Prisma compatibility
  backend/Dockerfile
Due: none

fix(docker): add bzip2 for phantomjs-prebuilt extraction
  backend/Dockerfile
Due: none

fix(seed): add default user for development
  backend/prisma/seed.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(auth): require JWT authentication for protected endpoints
  backend/src/modules/comments/comments.controller.ts
  backend/src/modules/notes/notes.controller.ts
  backend/src/modules/workspace/workspace.controller.ts
  backend/src/modules/youtube-videos/youtube-videos.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ui): update AI model names and grid layout
  frontend/components/admin/AIModelSettings.tsx
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): remove duplicate AI response trigger
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-group): add member management UI
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
  frontend/components/ai-group/TopicSettingsDialog.tsx
  frontend/lib/api/ai-group.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(notes): use method-level guards instead of class-level
  backend/src/modules/notes/notes.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(collections): require authentication for all write operations
  backend/src/modules/collections/collections.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix AI mention detection and response handling
  backend/src/modules/ai-group/ai-group.controller.ts
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(admin): reorder routes to fix 404 on diagnose and fetch-available
  backend/src/modules/admin/admin.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): fix API compatibility for OpenAI and Gemini
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix @All AI mention functionality
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(db): add ALL_AI value to MentionType enum
  backend/prisma/migrations/20251126_add_all_ai_mention_type/migration.sql
Due: none

fix(db): auto-add ALL_AI enum value on deployment
  backend/prisma/resolve-migrations.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

chore: trigger Railway deployment for enum fix
  .railway-trigger
Due: none

fix(ai-group): fix AI mention matching with parenthetical names
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai): add detailed logging for OpenAI and Gemini API calls
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai): add Google Imagen API support for image generation
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): increase maxTokens for reasoning models (GPT-5, o1, o3)
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

chore: add comprehensive logging for AI mention flow
  backend/src/modules/ai-group/ai-group.controller.ts
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: add null-safety for aiMembers in mention parsing
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: handle Gemini thinking models and image generation
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: enable Grok live X/Twitter search
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

perf: implement message virtualization and memory limits
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/package.json
  frontend/stores/aiGroupStore.ts
  package-lock.json
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: improve AI generated image display in chat
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: add message collapse/expand for long messages
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: enable URL access for all AI models
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: add automatic web search capability for all AI models
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

chore: add detailed Gemini image generation logging for debugging
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

docs: add v1.1.0 release notes with new features summary
  docs/releases/v1.1.0-release-notes.md
Due: prettier --write

fix: increase WebSocket buffer size to 10MB for large image data
  backend/src/modules/ai-group/ai-group.gateway.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: improve UI with professional business icons and fix jittering
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/app/ai-group/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore: add detailed debug logging for image content flow
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore: add more debug logging for image message flow
  backend/src/modules/ai-group/ai-group.service.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: replace unstable virtual scrolling with simple stable message list
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: image display in AI Group chat
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: extract and render base64 images separately from markdown
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'
