Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

.lintstagedrc.json:

{
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "backend/**/*.{ts,tsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd backend && npm run type-check'"
  ],
  "backend/**/*.{js,jsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd frontend && npm run type-check'"
  ],
  "frontend/**/*.{js,jsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write"
  ]
}

fix: add comprehensive database connection diagnostics for Railway
  backend/package.json
  backend/prisma/diagnose-db.ts
  backend/prisma/resolve-migrations.ts
  backend/railway.toml
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: resolve Railway database connection issue with public URL
  backend/package.json
  backend/prisma/fix-railway-connection.ts
  backend/prisma/use-public-connection.ts
  backend/railway.toml
  infra/railway/TROUBLESHOOTING.md
  scripts/fix-railway-database.sh
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

refactor(frontend): optimize right panel icon layout and alignment
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor(frontend): enhance right panel icon usability and alignment
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(frontend): enhance UX with improved bookmark flow and PDF upload support
  frontend/app/page.tsx
  frontend/components/ImportUrlDialog.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: ensure API URLs have protocol prefix in Next.js rewrites
  frontend/next.config.js
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix'

feat(frontend): add git commit hash tracking and improve UX
  frontend/app/page.tsx
  frontend/components/ImportUrlDialog.tsx
  frontend/components/UploadFileDialog.tsx
  frontend/components/layout/BuildInfo.tsx
  frontend/components/layout/VersionUpdateBanner.tsx
  frontend/lib/config.ts
  frontend/next.config.js
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): handle git command gracefully in Railway production
  frontend/next.config.js
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix'

feat: add admin management system with user role control
  backend/prisma/migrations/20241124000000_add_user_role/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/common/guards/admin.guard.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/admin/admin.service.ts
  frontend/app/data-collection/layout.tsx
  frontend/app/data-collection/users/page.tsx
  frontend/app/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/contexts/AuthContext.tsx
  frontend/lib/auth.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ci): add prisma generate to quality-check job
  .github/workflows/ci.yml
  backend/src/modules/admin/admin.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(frontend): improve UI and add admin resource management
  frontend/app/ai-office/page.tsx
  frontend/app/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(library): add collection sub-navigation for My Library
  frontend/app/library/page.tsx
  frontend/components/library/CollectionModal.tsx
  frontend/components/library/CollectionNav.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(library): implement Phase 2 - tags, batch operations, reading status, pagination
  backend/prisma/migrations/20241124100000_add_collection_features/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/collections/collections.controller.ts
  backend/src/modules/collections/collections.service.ts
  backend/src/modules/collections/dto/batch-operations.dto.ts
  backend/src/modules/collections/dto/create-collection.dto.ts
  backend/src/modules/collections/dto/index.ts
  backend/src/modules/collections/dto/update-collection.dto.ts
  backend/src/modules/collections/dto/update-item.dto.ts
  frontend/app/library/page.tsx
  frontend/components/library/BatchActionBar.tsx
  frontend/components/library/CollectionNav.tsx
  frontend/components/library/ReadStatusBadge.tsx
  frontend/components/library/TagList.tsx
  frontend/lib/use-collections.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(frontend): add file import and fix multiple UX issues
  frontend/app/library/page.tsx
  frontend/app/page.tsx
  frontend/components/ImportFileDialog.tsx
  frontend/components/ImportSelector.tsx
  frontend/components/ImportUrlDialog.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): multiple UX improvements and bug fixes
  backend/src/modules/collections/collections.service.ts
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/layout/ResponsiveNav.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): improve AI service error handling
  frontend/app/api/ai-service/ai/insights/route.ts
  frontend/app/api/ai-service/ai/summary/route.ts
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

docs(product): add AI Group PRD - multi-user multi-AI collaboration community
  docs/product/ai-group-prd.md
Due: prettier --write

feat(ai-group): implement AI Group multi-user multi-AI collaboration community
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.module.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai-group/dto/add-ai-member.dto.ts
  backend/src/modules/ai-group/dto/add-member.dto.ts
  backend/src/modules/ai-group/dto/add-resource.dto.ts
  backend/src/modules/ai-group/dto/create-topic.dto.ts
  backend/src/modules/ai-group/dto/generate-summary.dto.ts
  backend/src/modules/ai-group/dto/index.ts
  backend/src/modules/ai-group/dto/send-message.dto.ts
  backend/src/modules/ai-group/dto/update-ai-member.dto.ts
  backend/src/modules/ai-group/dto/update-member.dto.ts
  backend/src/modules/ai-group/dto/update-topic.dto.ts
  backend/src/modules/ai/ai-chat.service.ts
  backend/src/modules/ai/ai.module.ts
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/app/ai-group/page.tsx
  frontend/components/ai-group/ResourcesPanel.tsx
  frontend/components/ai-group/SummaryDialog.tsx
  frontend/components/ai-group/TopicSettingsDialog.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/lib/api/ai-group.ts
  frontend/stores/aiGroupStore.ts
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore(prisma): add migration for AI Group tables
  backend/prisma/migrations/20251125_add_ai_group_tables/migration.sql
Due: none

feat(ai): upgrade Gemini API to 2.0 Flash model
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(prisma): correct User table reference in migration + add AI model settings
  backend/prisma/migrations/20251125_add_ai_group_tables/migration.sql
  frontend/app/admin/settings/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/admin/AIModelSettings.tsx
  frontend/components/admin/SettingsNav.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(youtube): add right-click context menu for AI chat messages
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(notes): make resourceId optional for standalone notes
  backend/prisma/migrations/20251125_notes_optional_resource/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/ai-group/ai-group.gateway.ts.disabled
  backend/src/modules/notes/dto/create-note.dto.ts
  backend/src/modules/notes/notes.service.ts
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(youtube): add stop button for AI chat streaming
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): add AI model management with API key config and connection test
  backend/prisma/migrations/20251125_add_ai_models_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/ai/ai-chat.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(library): fix bookmarked links 404 error
  frontend/app/explore/page.tsx
  frontend/app/library/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(explore): wrap useSearchParams in Suspense boundary
  frontend/app/explore/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): add AI Models tab to System Management
  frontend/app/data-collection/ai-models/page.tsx
  frontend/app/data-collection/layout.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor(frontend): optimize System Management tabs structure
  frontend/app/data-collection/layout.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): add credentials to AI model API requests
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: rename sidebar Management to Settings and fix topics API routing
  backend/src/modules/ai-group/ai-group.controller.ts
  frontend/components/layout/Sidebar.tsx
  frontend/lib/api/ai-group.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: bookmark links and AI Group database migration
  backend/prisma/migrations/20251125_add_ai_group_tables/migration.sql
  frontend/app/library/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): improve AI Models unauthorized error message
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): add database migration to production startup
  backend/Procfile
Due: none

fix(backend): rename AI Group migration to force re-run
  backend/prisma/migrations/20251125_add_ai_group_tables_v2/migration.sql
Due: none

fix: add auth header to AI Models and fix migration
  backend/prisma/migrations/20251125_add_ai_group_tables_v2/migration.sql
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): add timedtext API fallback for YouTube transcripts
  backend/src/modules/youtube/youtube.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(backend): use database API key for AI model connection test
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(frontend): improve YouTube bookmark navigation and rename My Library to Resources
  frontend/app/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): improve AI Group topic creation reliability
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'
