Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): fix AI Group messaging without WebSocket
  frontend/lib/api/ai-group.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-group): implement complete WebSocket real-time messaging
  backend/package.json
  backend/src/modules/ai-group/ai-group.gateway.ts
  backend/src/modules/ai-group/ai-group.module.ts
  frontend/package.json
  frontend/stores/aiGroupStore.ts
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(admin): fix AI model connection test using wrong API key
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix @mention cursor position and hyphen support
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-group): add AI model icons and replace sidebar component
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/public/icons/ai/claude.svg
  frontend/public/icons/ai/gemini.svg
  frontend/public/icons/ai/grok.svg
  frontend/public/icons/ai/openai.svg
  frontend/stores/aiGroupStore.ts
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-group): add member invitation and real AI model support
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.module.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(admin): fix Gemini image model connection test
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(admin): use official Google Gemini logo
  frontend/components/admin/AIModelSettings.tsx
  frontend/public/icons/ai/gemini.svg
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): fix undefined property access errors
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): fix AI model lookup with case-insensitive match
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): expand AI model lookup to include displayName
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): improve AI model lookup with multiple matching strategies
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(admin): enforce standard AI model IDs with dropdown selection
  backend/src/modules/ai-group/ai-group.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(db): increase AIModel field lengths for icon URLs
  backend/prisma/schema.prisma
Due: none

fix(admin): improve AI model form with auto-fill and clearer layout
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): add fetch available models API and improved form
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/ai/ai-chat.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(db): add migration to increase AIModel field lengths
  backend/prisma/migrations/20251125_increase_aimodel_field_lengths/migration.sql
Due: none

feat(ai-group): render AI messages as formatted Markdown
  frontend/app/ai-group/[topicId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): fix Gemini API URL construction with custom endpoint
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai): add real-time search and Topic resource context injection
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
  backend/src/modules/ai/ai.module.ts
  backend/src/modules/ai/search.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(admin): add search API configuration in admin panel
  backend/prisma/migrations/20251125_add_system_settings/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/ai/ai.module.ts
  backend/src/modules/ai/search.service.ts
  frontend/components/admin/SystemSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): add External API tab in AI Models settings
  frontend/app/data-collection/ai-models/page.tsx
  frontend/components/admin/ExternalAPISettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai): add URL content fetching and reorganize admin tabs
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/search.service.ts
  frontend/app/data-collection/ai-models/page.tsx
  frontend/app/data-collection/external-api/page.tsx
  frontend/app/data-collection/layout.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai): extract URLs from all recent messages not just last one
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): add case-insensitive model lookup and debug logging
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(admin): add AI model diagnostic feature
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(admin): restore Whitelists tab in navigation
  frontend/app/data-collection/layout.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): add detailed logging for AI model lookup debugging
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): support both database and environment variable API keys
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): correct GOOGLE_AI_API_KEY env var name and add debug logging
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai): add Gemini image generation support
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai): add DALL-E 3 image generation for GPT-4
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(admin): show masked API key in edit modal
  backend/src/modules/admin/admin.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): unify Edit and Add AI model modal UI
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): auto-update AI model if name exists (upsert)
  backend/src/modules/admin/admin.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore(ai): add debug logging for API key and error details
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(admin): improve API key update logging and validation
  backend/src/modules/admin/admin.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
