Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: integrate Data Management module into sidebar navigation
  frontend/app/data-management/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor: restructure data collection module according to PRD requirements
  IMPLEMENTATION_SUMMARY.md
  backend/prisma/schema.prisma
  backend/src/modules/data-management/controllers/collection-configuration.controller.ts
  backend/src/modules/data-management/controllers/import-manager.controller.ts
  backend/src/modules/data-management/data-management.module.ts
  backend/src/modules/data-management/services/collection-configuration.service.ts
  backend/src/modules/data-management/services/collection-rule.service.ts
  backend/src/modules/data-management/services/import-manager.service.ts
  backend/src/modules/data-management/services/source-whitelist.service.ts
  backend/src/modules/resources/ai-enrichment.service.ts
  docs/prd/prd-数据采集.md
  frontend/app/data-management/page.tsx
  frontend/app/page.tsx
  frontend/components/data-management/CollectionConfigurationPanel.tsx
  frontend/components/data-management/NewDataManagementPage.tsx
  frontend/components/features/FilterPanel.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor: implement professional data management interface with global sidebar integration
  REFACTOR_COMPLETE.md
  frontend/app/data-management/page.tsx
  frontend/components/data-management/ProfessionalDataManagementPage.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: comprehensive product design improvements for data collection module
  PRODUCT_IMPROVEMENT_PLAN.md
  frontend/app/page.tsx
  frontend/components/data-management/CollectionConfigurationPanel.tsx
  frontend/components/data-management/DataImportDialog.tsx
  frontend/components/data-management/ProfessionalDataManagementPage.tsx
  frontend/components/features/FilterPanel.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: comprehensive whitelist expansion for all resource types
  backend/src/modules/data-management/services/source-whitelist.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

docs: comprehensive whitelist configuration guide
  WHITELIST_CONFIGURATION_GUIDE.md
Due: prettier --write

fix: critical import system fixes - domain validation, resource types, and whitelist enforcement
  backend/src/modules/data-management/services/source-whitelist.service.ts
  backend/src/modules/resources/resources.controller.ts
  backend/src/modules/resources/resources.module.ts
  backend/src/modules/resources/resources.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: resolve PostgreSQL enum type casting error for Import feature
  backend/prisma/schema.prisma
  backend/src/modules/data-management/services/source-whitelist.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: comprehensive PostgreSQL enum type casting fixes
  backend/prisma/schema.prisma
  backend/src/modules/data-management/services/collection-rule.service.ts
  backend/src/modules/data-management/services/import-manager.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: implement ImportTaskProcessorService to convert PENDING ImportTasks to Resources
  IMPLEMENTATION_SUMMARY.md
  backend/package.json
  backend/src/modules/data-management/controllers/configuration.controller.ts
  backend/src/modules/data-management/controllers/dashboard.controller.ts
  backend/src/modules/data-management/controllers/import-manager.controller.ts
  backend/src/modules/data-management/data-management.module.ts
  backend/src/modules/data-management/services/configuration.service.ts
  backend/src/modules/data-management/services/dashboard.service.ts
  backend/src/modules/data-management/services/duplicate-detector.service.ts
  backend/src/modules/data-management/services/import-task-processor.service.ts
  backend/src/modules/data-management/services/metadata-extractor.service.ts
  extract-domains.js
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/ImportUrlDialog.tsx
  frontend/components/data-management/CollectionConfigCard.tsx
  frontend/components/data-management/CollectionConfigurationPanel.tsx
  frontend/components/data-management/ProfessionalDataManagementPage.tsx
  frontend/components/data-management/RecentTasksTimeline.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/switch.tsx
  frontend/lib/utils.ts
  frontend/package.json
  monitoring/alerts-staging.yml
  monitoring/grafana-dashboards.yml
  monitoring/grafana-datasources.yml
  monitoring/prometheus-staging.yml
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore: clean up root directory and add monitoring configuration
  PRODUCT_IMPROVEMENT_PLAN.md
  REFACTOR_COMPLETE.md
  WHITELIST_CONFIGURATION_GUIDE.md
  monitoring/alerts-staging.yml
  monitoring/grafana-dashboards.yml
  monitoring/grafana-datasources.yml
  monitoring/prometheus-staging.yml
Due: prettier --write

fix: restore scripts to correct location and clean up directory structure
  STRUCTURE.md
  docs/data-management/DATA-MANAGEMENT-IMPLEMENTATION.md
  docs/data-management/DATA-MANAGEMENT-QUICK-GUIDE.md
  docs/data-management/DATA-MANAGEMENT-VALIDATION.md
  docs/data-management/UI-REDESIGN-REPORT.md
  docs/project-reports/DELIVERY-MANIFEST.txt
  frontend/components/data-management/CollectionConfigurationPanel.tsx
  frontend/components/data-management/ConfigurationView.tsx
  frontend/components/data-management/DataManagementDashboard.tsx
  frontend/components/data-management/MonitoringView.tsx
  frontend/components/data-management/QualityView.tsx
  scripts/start-all.bat
  scripts/stop-all.bat
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: auto-process YouTube imports to show in Explore immediately
  backend/src/modules/data-management/controllers/dashboard.controller.ts
  backend/src/modules/data-management/services/import-manager.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: integrate new Data Management Dashboard and improve import dialog
  docs/prd/prd-数据采集.md
  frontend/app/data-management/page.tsx
  frontend/components/ImportUrlDialog.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: create Resource immediately on import instead of deferring to background task
  backend/src/modules/data-management/services/import-manager.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: allow removing resources from AI Office by clicking Added button
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: skip ImportTask creation and return direct success response
  backend/src/modules/data-management/services/import-manager.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: YouTube metadata extraction and React hydration error
  backend/src/modules/data-management/services/metadata-extractor.service.ts
  frontend/app/layout.tsx
  frontend/next.config.js
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: improve React hydration error handling
  frontend/app/page.tsx
  frontend/stores/aiOfficeStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore: add epoch.ai to domain whitelist for import functionality
  backend/src/config/domain-whitelist.config.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: resolve build errors and React hydration issues
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  frontend/lib/use-thumbnail-generator.ts
  scripts/test-data-management-api.sh
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: resolve React hydration mismatch error
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: add epoch.ai to REPORT resource type whitelist
  backend/src/modules/data-management/services/source-whitelist.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: expand sidebar bottom navigation to fill available vertical space
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: fill key moments section to bottom of video panel in YouTube page
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: replace emoji icons with SVG stroke icons in My Library for design system consistency
  backend/src/config/domain-whitelist.config.ts
  frontend/app/library/page.tsx
  frontend/app/page.tsx
  frontend/app/profile/page.tsx
  frontend/components/features/ResourceCard.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor: redesign My Library page with English UI and Explore-style layout
  frontend/app/library/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: redesign Notes component with PM-level tag filtering and grid layout
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor: optimize search box design and remove duplicate search from Notes
  frontend/app/library/page.tsx
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor: implement unified search scope across all library tabs
  frontend/app/library/page.tsx
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: reduce excessive vertical spacing in Notes tag filter section
  frontend/components/features/NotesList.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore(project): cleanup redundant files and optimize config
  ai-service/.gitignore
  backend/backup-ai-office/ai-office.controller.ts
  backend/backup-ai-office/ai-office.module.ts
  backend/src/app.module.ts
  frontend/apppage.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: resolve AI Office Quick Generate routing issues
  ai-service/main.py
  ai-service/routers/quick_generate.py
  ai-service/routers/report.py
  backend/src/app.module.ts
  backend/src/modules/ai-office/ai-office.module.ts
  backend/src/modules/ai-office/quick-generate.controller.ts
  backend/src/modules/ai-office/quick-generate.service.ts
  docs/features/ai-office/EXECUTIVE_SUMMARY.md
  docs/features/ai-office/GENSPARK_ANALYSIS.md
  docs/features/ai-office/GENSPARK_QUICK_START.md
  docs/features/ai-office/IMPLEMENTATION_GUIDE.md
  docs/features/ai-office/OPTIMIZATION_REPORT.md
  docs/features/ai-office/README_OPTIMIZATION.md
  docs/features/ai-office/SERVICE_STATUS.md
  frontend/app/ai-office/page.tsx
  frontend/components/ai-office/QuickGenerateInput.tsx
  frontend/next.config.js
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: add DTO validation for quick-generate endpoint
  backend/src/modules/ai-office/quick-generate.controller.ts
  backend/src/modules/ai-office/quick-generate.dto.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: fix TypeScript DTO compilation error
  backend/src/modules/ai-office/quick-generate.dto.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: add null check for prompt parameter in quick-generate service
  ai-service/routers/quick_generate.py
  backend/src/modules/ai-office/quick-generate.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: redesign logo and complete AI Office Quick Generate feature
  backend/src/modules/ai-office/quick-generate.dto.ts
  backend/src/modules/ai-office/quick-generate.service.ts
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore: baseline 5.0 - organize docs and project structure
  docs/archive/STRUCTURE_old.md
  docs/prd/README.md
  docs/prd/archive/prd-data-collection-draft.md
  docs/prd/prd-ai-office-v2.0.md
  docs/prd/prd-platform-v2.0.md
  docs/prd/prd-youtube-export-v1.0.md
  project-rules.md
Due: prettier --write

feat: add admin settings and thumbnails management pages
  frontend/app/admin/layout.tsx
  frontend/app/admin/settings/page.tsx
  frontend/components/admin/CollectionManagement.tsx
  frontend/components/admin/DataQualityManagement.tsx
  frontend/components/admin/SettingsNav.tsx
  frontend/components/admin/WhitelistManagement.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: fix arXiv paper title extraction for parse-url-full endpoint
  backend/src/modules/data-management/services/import-manager.service.ts
  backend/src/modules/data-management/services/paper-metadata-extractor.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
