Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(admin): show full API key in edit mode
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  frontend/components/admin/AIModelSettings.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): broadcast messages via WebSocket when sent via HTTP
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.gateway.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix WebSocket room join and online users sync
  backend/src/modules/ai-group/ai-group.gateway.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): add support for @All AIs mention
  backend/src/modules/ai-group/ai-group.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

chore(ai-group): add comprehensive WebSocket logging for message sync issue
  backend/src/modules/ai-group/ai-group.gateway.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): add WebSocket reconnection handling for room rejoin
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): rename Dockerfile to prevent Railway auto-detection
  backend/Dockerfile.backup
Due: none

fix(backend): switch Railway to dockerfile builder with explicit path
  backend/Dockerfile
  backend/railway.toml
Due: none

revert(backend): restore original railway.toml nixpacks config
  backend/railway.toml
Due: none

fix(backend): restore Dockerfile builder config for Railway
  backend/railway.toml
Due: none

fix(backend): restore working nixpacks railway.toml from 617dacd
  backend/railway.toml
Due: none

revert: restore to last working state c1e1995
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): disable Dockerfile to force Railway use Nixpacks
  backend/Dockerfile.disabled
Due: none

fix(backend): add bzip2 to nixpacks for phantomjs-prebuilt install
  backend/railway.toml
Due: none

fix(backend): use aptPkgs instead of nixPkgs for bzip2
  backend/railway.toml
Due: none

fix(backend): add missing build dependencies for Nixpacks
  backend/nixpacks.toml
  backend/railway.toml
Due: none

refactor: switch all services from Nixpacks to Dockerfile
  ai-service/railway.toml
  backend/Dockerfile
  backend/railway.toml
  frontend/Dockerfile
  frontend/railway.toml
Due: none

fix(railway): explicitly specify dockerfilePath in railway.toml
  ai-service/railway.toml
  backend/railway.toml
  frontend/railway.toml
Due: none

fix(railway): simplify railway.toml configuration
  ai-service/railway.toml
  backend/railway.toml
  frontend/railway.toml
Due: none

fix(railway): remove explicit dockerfilePath to allow auto-detection
  backend/railway.toml
  frontend/railway.toml
  railway-debug.md
Due: prettier --write

fix(ai-group): fix critical bugs - duplicate messages, @All AIs, and Gemini image generation
  backend/src/modules/ai-group/ai-group.gateway.ts
  backend/src/modules/ai/ai-chat.service.ts
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): ensure current user shows as online after joining topic
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(railway): explicitly set builder to dockerfile to prevent metal build
  backend/railway.toml
  frontend/railway.toml
Due: none

fix(ai-group): fix AI duplicate messages and enable Gemini image display
  backend/src/modules/ai-group/ai-group.gateway.ts
  frontend/app/ai-group/[topicId]/page.tsx
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(railway): remove dockerfilePath to fix Dockerfile not found error
  backend/railway.toml
  frontend/railway.toml
Due: none

fix(railway): fix ai-service railway.toml and revert incorrect online status logic
  ai-service/railway.toml
  frontend/stores/aiGroupStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): prevent AI context window overflow for all models
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/search.service.ts
  frontend/app/ai-group/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): validate resourceId in Notes to prevent FK violation
  backend/src/modules/notes/notes.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(frontend): add tags support for AI Group Topics
  frontend/app/ai-group/page.tsx
  frontend/types/ai-group.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(backend): migrate MongoDB to PostgreSQL JSONB - save \$15/month
  backend/.env.example
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/common/mongodb/mongodb.module.ts
  backend/src/common/mongodb/mongodb.service.postgres.ts
  backend/src/common/mongodb/mongodb.service.ts.backup
  backend/src/common/rawdata/index.ts
  backend/src/common/rawdata/rawdata.module.ts
  backend/src/common/rawdata/rawdata.service.ts
  backend/src/modules/crawler/arxiv.service.ts
  backend/src/modules/crawler/github.service.ts
  backend/src/modules/crawler/hackernews.service.spec.ts
  backend/src/modules/crawler/hackernews.service.ts
  backend/src/modules/crawler/rss.service.ts
  backend/src/modules/crawler/web-scraper.service.ts
  backend/src/modules/data-management/services/data-integrity-validator.service.ts
  backend/src/modules/data-management/services/import-manager.service.ts
  backend/src/modules/resources/resources.service.ts
  backend/src/scripts/fix-github-titles.ts.backup
  backend/src/scripts/link-raw-data.ts.backup
  backend/src/scripts/repair-paper-raw-data.ts.backup
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(backend): migrate Neo4j to PostgreSQL for cost optimization
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/graph/graph.module.ts
  backend/src/common/graph/graph.service.ts
  backend/src/common/neo4j/neo4j.module.ts
  backend/src/common/neo4j/neo4j.service.postgres.ts
  backend/src/common/neo4j/neo4j.service.ts.backup
  backend/src/modules/knowledge-graph/knowledge-graph.controller.ts
  backend/src/modules/knowledge-graph/knowledge-graph.module.ts
  backend/src/modules/knowledge-graph/knowledge-graph.service.postgres.ts
  backend/src/modules/knowledge-graph/knowledge-graph.service.ts.backup
  backend/src/modules/recommendations/recommendations.controller.ts
  backend/src/modules/recommendations/recommendations.module.ts
  backend/src/modules/recommendations/recommendations.service.postgres.ts
  backend/src/modules/recommendations/recommendations.service.ts.backup
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ci): remove MongoDB from CI and fix secret check
  .github/workflows/ci.yml
  .github/workflows/deploy-protection.yml
Due: prettier --write

docs(readme): update for unified PostgreSQL architecture
  README.md
Due: prettier --write

fix(ci): improve secret detection to reduce false positives
  .github/workflows/deploy-protection.yml
Due: prettier --write

feat(deploy): restore Dockerfile for Railway deployment
  backend/Dockerfile
Due: none

fix(db): make user role migration idempotent for CI
  backend/prisma/migrations/20241124000000_add_user_role/migration.sql
Due: none

fix(backend): update Dockerfile for monorepo structure
  backend/Dockerfile
Due: none

fix(docker): add --legacy-peer-deps to resolve canvas/jsdom conflict
  backend/Dockerfile
Due: none

fix(docker): add native dependencies for canvas compilation
  backend/Dockerfile
Due: none

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
