Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 添加Profile菜单项并修复My Library认证问题
  frontend/app/library/page.tsx
  frontend/app/profile/page.tsx
  frontend/components/layout/UserProfileButton.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 实现完整的Profile个人信息编辑功能
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/dto/update-profile.dto.ts
  backend/src/modules/auth/jwt.strategy.ts
  frontend/app/profile/page.tsx
  frontend/lib/auth.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 添加版本更新日志功能
  frontend/app/page.tsx
  frontend/app/whats-new/page.tsx
  frontend/components/layout/VersionUpdateBanner.tsx
  frontend/lib/changelog.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 添加Policy（美国科技政策）页面
  frontend/app/policy/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

style: 更新Logo为现代科技风格
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 将Policy标签移至主页面顶部导航
  frontend/app/page.tsx
  frontend/app/policy/page.tsx
  frontend/components/features/FilterPanel.tsx
  frontend/components/layout/ResponsiveNav.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 添加Policy到Settings的白名单和Collection配置
  frontend/components/admin/CollectionManagement.tsx
  frontend/components/admin/WhitelistManagement.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): use news-specific endpoint for NEWS category resources
  frontend/app/page.tsx
  frontend/components/ui/ReaderView.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): add domain-based news detection for Reader Mode
  frontend/components/ui/ReaderView.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): wrap useSearchParams in Suspense boundary for batch-monitor page
  frontend/app/data-collection/batch-monitor/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(db): add data collection tables migration
  backend/prisma/migrations/20251123_add_data_collection_tables/migration.sql
Due: none

fix(backend): add postbuild migration script and remove PROJECT category
  backend/package.json
  backend/prisma/seed-data-sources.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(backend): run migrations on container startup
  backend/Dockerfile
  backend/docker-entrypoint.sh
Due: none

fix(backend): remove postbuild script - migrations run at runtime only
  backend/package.json
Due: prettier --write

fix(backend): fix docker-entrypoint.sh line endings and add .gitattributes
  backend/.gitattributes
Due: none

fix(backend): configure Railway to use Dockerfile for proper migration execution
  backend/docker-entrypoint.sh
  backend/railway.toml
Due: none

fix(backend): configure nixpacks to run migrations on startup
  backend/railway.toml
Due: none

fix(backend): add @map annotations for DataSource model fields
  backend/prisma/schema.prisma
Due: none

refactor: consolidate monitoring files into scripts/monitoring/
  scripts/monitoring/README.md
  scripts/monitoring/alerts-staging.yml
  scripts/monitoring/config/grafana/dashboards.yml
  scripts/monitoring/config/grafana/datasources.yml
Due: prettier --write

refactor: remove unused tests dir and enhance CI smoke tests
  .github/workflows/smoke-tests.yml
  frontend/vitest.config.ts
  tests/smoke/smoke-tests.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(backend): add nixpacks.toml to properly build NestJS application
  backend/nixpacks.toml
Due: none

fix: resolve Vitest pool timeout by switching to threads
  frontend/vitest.config.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore(backend): add debug logging to startCommand
  backend/railway.toml
Due: none

fix: add fetch-depth to deploy-protection workflow
  .github/workflows/deploy-protection.yml
Due: prettier --write

fix: add fetch-depth to deploy-protection workflow
  backend/railway.toml
  frontend/vitest.config.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: skip husky install in CI environment
  package.json
Due: prettier --write

fix(backend): add migration for missing data_sources columns
  backend/prisma/migrations/20251123_fix_data_sources_missing_columns/migration.sql
Due: none

fix: disable coverage checks in CI temporarily
  .github/workflows/ci.yml
Due: prettier --write

feat(library): add view, edit, and delete actions for bookmarked resources
  backend/prisma/migrations/20251123_fix_collection_tasks_columns/migration.sql
  backend/prisma/schema.prisma
  frontend/app/library/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(frontend): add missing @testing-library/dom dependency
  frontend/package.json
  package-lock.json
Due: prettier --write

feat(data-collection): expand data sources from 18 to 52
  DATA_SOURCES_SETUP.md
  backend/prisma/seed-data-sources.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(deploy): automate data source seeding in Railway deployment
  backend/package.json
  backend/prisma/seed.ts
  backend/railway.toml
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(deploy): resolve Railway build failure - prisma generate timing
  backend/package.json
  backend/railway.toml
Due: prettier --write

fix(deploy): resolve EACCES error - prisma generate in build phase
  backend/railway.toml
Due: none

fix(frontend): fix critical Library page CRUD business logic
  docs/decisions/library-page-crud-fix.md
  frontend/app/library/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(deploy): add seed script execution to docker-entrypoint.sh
  backend/docker-entrypoint.sh
  backend/prisma/seed.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
