Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

.lintstagedrc.json:

{
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "backend/**/*.{ts,tsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd backend && npm run type-check'"
  ],
  "backend/**/*.{js,jsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd frontend && npm run type-check'"
  ],
  "frontend/**/*.{js,jsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write"
  ]
}

feat: pass PDF context from ResourceDetailPanel to AIAssistant
  frontend/components/features/ResourceDetailPanel.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: enable ai assistant to read actual pdf content as context
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: correct ai model validation error causing stuck responses
  frontend/app/api/ai-service/ai/chat/route.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: use dynamic pdf.js import to resolve ssr compatibility
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: enrich ai context with comprehensive paper metadata
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

docs: add comprehensive ai context architecture for multi-resource types
  docs/AI_CONTEXT_ARCHITECTURE.md
Due: prettier --write

feat: implement aicontextbuilder for unified multi-resource ai context
  frontend/app/page.tsx
  frontend/lib/ai-context-builder.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: enhance YouTube video page with AI chat and collapsible panels
  backend/src/modules/knowledge-graph/knowledge-graph.service.ts
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/features/NotesList.tsx
  frontend/lib/ai-context-builder.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: add intelligent multi-language translation for YouTube videos
  ai-service/routers/ai.py
  frontend/app/api/ai-service/ai/translate-segments/route.ts
  frontend/app/api/ai-service/ai/translate-single/route.ts
  frontend/app/youtube/page.tsx
  frontend/components/views/KnowledgeGraphView.tsx
  frontend/components/views/TimelineView.tsx
  frontend/components/youtube/KeyMomentsPanel.tsx
  frontend/components/youtube/TranslationControl.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: baseline 5.0 - ai office core features implementation
  backend/routes/ai-office/search-images.ts
  backend/services/unsplash.service.ts
  docs/requirements/AI Office UI设计方案 - 三栏布局.md
  docs/requirements/AI Office UI设计方案 - 实时协作式.md
  docs/requirements/AI Office 产品方案.md
  docs/requirements/AI Office 系统设计与任务划分.md
  docs/requirements/AI Office.md
  docs/requirements/AI-Office-Document-Generation-Design.md
  docs/requirements/AI-Office-TODO-List.md
  frontend/app/ai-office/page.tsx
  frontend/app/api/ai-office/chat/route.ts
  frontend/app/api/ai-office/search-images/route.ts
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx.backup
  frontend/apppage.tsx
  frontend/components/ai-office/chat/ChatPanel.tsx
  frontend/components/ai-office/document/DocumentEditor.tsx
  frontend/components/ai-office/document/DocumentGenerationWizard.tsx
  frontend/components/ai-office/document/GenerationProgress.tsx
  frontend/components/ai-office/layout/MiddlePanel.tsx
  frontend/components/ai-office/layout/RightPanel.tsx
  frontend/components/ai-office/layout/WorkspaceLayout.tsx
  frontend/components/ai-office/resources/ResourceList.tsx
  frontend/components/features/FilterPanel.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/constants/document-templates.ts
  frontend/package.json
  frontend/stores/aiOfficeStore.ts
  frontend/types/ai-office.ts
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: TypeScript null safety fixes for ChatPanel
  frontend/components/ai-office/chat/ChatPanel.tsx
  frontend/components/ai-office/chat/MessageRenderer.tsx
  frontend/components/ai-office/task/TaskList.tsx
  frontend/package.json
  frontend/stores/aiOfficeStore.ts
  package-lock.json
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: implement partial slide update and genspark-style visualizations
  docs/ai-office-task-version-fix-verification.md
  docs/ai-office-vs-genspark.md
  docs/genspark.md
  frontend/app/api/ai-office/chat/route.ts
  frontend/components/ai-office/chat/ChatPanel.tsx
  frontend/components/ai-office/chat/MessageRenderer.tsx
  frontend/components/ai-office/document/DocumentEditor.tsx
  frontend/components/ai-office/document/EnhancedSlideRenderer.tsx
  frontend/components/ai-office/document/VersionHistory.tsx
  frontend/components/ai-office/visualizations/ChartRenderer.tsx
  frontend/components/ai-office/visualizations/FlowDiagram.tsx
  frontend/components/ai-office/visualizations/MatrixLayout.tsx
  frontend/lib/markdown-parser.ts
  frontend/lib/ppt-templates.ts
  frontend/lib/utils/ppt-utils.ts
  frontend/package.json
  frontend/stores/aiOfficeStore.ts
  frontend/types/ai-office.ts
  package-lock.json
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: enhance AI Office with partial page updates, logo redesign, and version history
  frontend/components/ai-office/chat/ChatPanel.tsx
  frontend/components/ai-office/document/DocumentEditor.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/stores/aiOfficeStore.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: optimize PDF/HTML viewer UI and fix arXiv import
  backend/src/main.ts
  backend/src/modules/proxy/proxy.controller.ts
  backend/src/modules/resources/resources.service.ts
  frontend/app/page.tsx
  frontend/components/ui/HTMLViewer.tsx
  frontend/components/ui/PDFViewer.tsx
  frontend/components/ui/PDFViewerClient.tsx
  frontend/components/ui/PreviewFrame.tsx
  frontend/next.config.js
  frontend/package.json
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor: centralize domain whitelist and replace hardcoded arrays
  backend/src/config/domain-whitelist.config.ts
  backend/src/modules/proxy/proxy.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: implement advanced 4-layer content extraction service with fallback mechanism
  .claude/settings.local.json
  backend/package.json
  backend/src/modules/crawler/crawler.module.ts
  backend/src/modules/crawler/github.service.ts
  backend/src/modules/crawler/hackernews-comments.service.ts
  backend/src/modules/crawler/hackernews.service.ts
  backend/src/modules/proxy/advanced-extractor.service.ts
  backend/src/modules/proxy/proxy.controller.ts
  backend/src/modules/proxy/proxy.module.ts
  docs/design/unified-blog-format-design.md
  docs/features/ai-office/PRD-v2.0.md
  extract-domains.js
  frontend/app/page.tsx
  frontend/components/ui/HTMLViewer.tsx
  frontend/components/ui/PDFViewer.tsx
  frontend/components/ui/ReaderView.tsx
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: fix raw_data-resource bidirectional reference synchronization
  backend/src/common/mongodb/mongodb.service.ts
  backend/src/modules/crawler/arxiv.service.ts
  backend/src/modules/crawler/github.service.ts
  backend/src/modules/crawler/hackernews.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: integrate news extractor service with specialized API endpoint
  backend/src/modules/proxy/news-extractor.service.ts
  backend/src/modules/proxy/proxy.controller.ts
  backend/src/modules/proxy/proxy.module.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: implement global deduplication mechanism with URL normalization and content hashing
  backend/src/common/deduplication/deduplication.module.ts
  backend/src/common/deduplication/deduplication.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: implement comprehensive testing and validation suite (Task 7)
  backend/src/common/deduplication/deduplication.service.spec.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: add Phase 1 staging deployment with monitoring and smoke tests
  DEPLOYMENT-STAGING.md
  docker-compose.staging.yml
  docs/YouTube-Subtitle-Export-PRD.md
  frontend/app/api/ai-office/chat/route.ts.backup
  frontend/app/api/ai/grok/route.ts
  frontend/lib/ai-agents/coordinator.agent.ts
  frontend/lib/ai-agents/index.ts
  frontend/lib/ai-agents/resource-analysis.agent.ts
  frontend/lib/ai-agents/verification.agent.ts
  frontend/lib/ppt-templates.ts
  monitoring/alerts-staging.yml
  monitoring/grafana-dashboards.yml
  monitoring/grafana-datasources.yml
  monitoring/prometheus-staging.yml
  tests/smoke/smoke-tests.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: implement YouTube subtitle export with PDF generation
  IMPLEMENTATION_CHECKLIST.md
  QUICKSTART_YOUTUBE_EXPORT.md
  YOUTUBE_SUBTITLE_EXPORT_GUIDE.md
  backend/package.json
  backend/src/modules/youtube/README.md
  backend/src/modules/youtube/pdf-generator.service.ts
  backend/src/modules/youtube/youtube.controller.ts
  backend/src/modules/youtube/youtube.module.ts
  frontend/app/api/ai-office/export/route.ts
  frontend/app/examples/youtube-export/page.tsx
  frontend/components/ai-office/chat/ChatPanel.tsx
  frontend/components/ai-office/document/DocumentEditor.tsx
  frontend/components/ai-office/document/ResearchPageRenderer.tsx
  frontend/components/ai-office/document/VersionDiffViewer.tsx
  frontend/components/ai-office/document/VersionHistory.tsx
  frontend/components/youtube/README.md
  frontend/components/youtube/export-dialog.tsx
  frontend/components/youtube/index.ts
  frontend/components/youtube/subtitle-export-button.tsx
  frontend/constants/document-templates.ts
  frontend/hooks/useYoutubeSubtitleExport.ts
  frontend/lib/research-page-templates.ts
  frontend/lib/services/document-export.service.ts
  frontend/lib/utils/performance.ts
  frontend/lib/version-diff.ts
  frontend/stores/aiOfficeStore.ts
  frontend/types/ai-office.ts
  package-lock.json
  test-youtube-export.sh
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: integrate subtitle export button into YouTube transcript interface
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: resolve YouTube subtitle export API endpoint and upgrade icon design
  frontend/components/youtube/subtitle-export-button.tsx
  frontend/hooks/useYoutubeSubtitleExport.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: improve subtitle export icon design and resolve request entity too large error
  backend/src/main.ts
  frontend/components/youtube/subtitle-export-button.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: resolve YouTube subtitle PDF export critical issues
  backend/src/main.ts
  backend/src/modules/youtube/pdf-generator.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

docs: reorganize directory and archive outdated files
  docs/archive/ai-office-task-version-fix-verification.md
  docs/archive/fixes.md
  docs/archive/quick-start-structured-summary.md
  docs/archive/todo.md
  docs/archive/verification.md
Due: prettier --write

feat: Temporarily simplify vitest config and fix ResearchPageRenderer.tsx typing
  frontend/components/ai-office/document/ResearchPageRenderer.tsx
  frontend/vitest.config.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: remove duplicate Jest configuration from package.json
  backend/package.json
Due: prettier --write

fix: Resolve vitest timeout and backend test config issues
  frontend/components/ai-office/document/ResearchPageRenderer.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: implement comprehensive Reports TAB with structured AI summaries
  backend/prisma/schema.prisma
  frontend/app/page.tsx
  frontend/components/ai-office/document/ResearchPageRenderer.tsx
  frontend/components/features/FilterPanel.tsx
  frontend/components/features/StructuredAISummary/ReportAISummary.tsx
  frontend/components/features/StructuredAISummary/StructuredAISummaryRouter.tsx
  frontend/components/features/StructuredAISummary/index.ts
  frontend/components/youtube/KeyMomentsPanel.tsx
  frontend/types/ai-office.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: complete Reports TAB implementation with full blog collection documentation
  backend/.env.example
  backend/package.json
  backend/src/modules/resources/ai-enrichment.service.ts
  docs/BLOG_COLLECTION_SYSTEM.md
  frontend/components/features/BlogCollectionManager.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: implement blog collection backend services
  backend/src/app.module.ts
  backend/src/modules/blog-collection/blog-collection.module.ts
  backend/src/modules/blog-collection/controllers/blog-collection.controller.ts
  backend/src/modules/blog-collection/services/blog-collection.service.ts
  backend/src/modules/blog-collection/services/blog-scheduler.service.ts
  backend/src/modules/blog-collection/types/blog-collection.types.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: integrate BlogCollectionManager into Reports TAB
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: correct BlogCollectionController base path to avoid API route duplication
  backend/src/modules/blog-collection/controllers/blog-collection.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

refactor: remove BlogCollectionManager from Reports TAB
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: implement Data Management module with source whitelist and collection rules
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/data-management/controllers/collection-rule.controller.ts
  backend/src/modules/data-management/controllers/source-whitelist.controller.ts
  backend/src/modules/data-management/data-management.module.ts
  backend/src/modules/data-management/services/collection-rule.service.ts
  backend/src/modules/data-management/services/source-whitelist.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: implement Data Management module frontend UI with Tailwind CSS
  frontend/components/ai-office/document/ResearchPageRenderer.tsx
  frontend/components/data-management/CollectionMonitor.tsx
  frontend/components/data-management/CollectionRuleManager.tsx
  frontend/components/data-management/DataImportDialog.tsx
  frontend/components/data-management/DataManagementPage.tsx
  frontend/components/data-management/DataQualityManager.tsx
  frontend/components/data-management/SourceWhitelistManager.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'
