Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "backend/**/*.ts": [
    "bash -c 'cd backend && npm run type-check'"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && npm run type-check'"
  ]
}

chore: add testing dependencies for frontend
  frontend/package.json
  package-lock.json
Due: prettier --write

feat: implement client-side PDF thumbnail generation and fix AI service
  THUMBNAIL_USAGE.md
  ai-service/routers/ai.py
  ai-service/scripts/update-secrets.bat
  ai-service/scripts/update-secrets.sh
  backend/.eslintrc.js
  backend/eslint-results.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/common/mongodb/mongodb.service.ts
  backend/src/common/neo4j/neo4j.service.ts
  backend/src/crawler/github.service.ts
  backend/src/knowledge-graph/knowledge-graph.service.ts
  backend/src/main.ts
  backend/src/recommendations/recommendations.service.ts
  backend/src/resources/pdf-thumbnail.service.ts
  backend/src/resources/resources.controller.ts
  backend/src/resources/resources.module.ts
  backend/src/resources/resources.service.ts
  backend/src/scripts/fix-arxiv-urls.ts
  backend/src/scripts/fix-github-titles.ts
  backend/src/scripts/generate-thumbnails.ts
  backend/src/scripts/link-raw-data.ts
  frontend/app/admin/thumbnails/page.tsx
  frontend/app/library/page.tsx
  frontend/app/page.tsx
  frontend/lib/pdf-thumbnail.ts
  frontend/lib/useThumbnailGenerator.ts
  frontend/package.json
  package-lock.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

fix(ai-service): strip whitespace from GCP Secret Manager secrets
  ai-service/utils/secret_manager.py
Due: none

feat: baseline 1.0 - add access guide
  docs/ACCESS_GUIDE.md
Due: prettier --write

feat: expand proxy whitelist for media and tech domains
  backend/src/proxy/proxy.controller.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check'

feat: implement multi-resource AI report generation (MVP-2.5)
  PRD-MVP.md
  PRD.md
  ai-service/main.py
  ai-service/routers/report.py
  backend/prisma/migrations/20251110144028_add_report_model/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/reports/dto/generate-report.dto.ts
  backend/src/reports/reports.controller.ts
  backend/src/reports/reports.module.ts
  backend/src/reports/reports.service.ts
  frontend/app/report/[id]/page.tsx
  frontend/components/ReportTemplateDialog.tsx
  frontend/lib/report-templates.ts
  frontend/lib/use-multi-select.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

feat: add multi-resource report generation test page
  frontend/app/reports/test/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: add YouTube transcript extraction and AI report generation
  backend/src/youtube/youtube.controller.ts
  backend/src/youtube/youtube.module.ts
  backend/src/youtube/youtube.service.ts
  frontend/app/youtube/page.tsx
  package-lock.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

feat: implement unified sidebar architecture across all pages
  ai-service/routers/report.py
  backend/src/youtube/youtube.service.ts
  docs/engineering/DATA-COLLECTION-VERIFICATION.md
  docs/engineering/REPORT-FEATURE-GUIDE.md
  frontend/app/feedback/page.tsx
  frontend/app/labs/page.tsx
  frontend/app/library/page.tsx
  frontend/app/notifications/page.tsx
  frontend/app/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/Sidebar.tsx
  frontend/package.json
  package-lock.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

feat: add Chinese translation and PDF export for YouTube transcripts
  ai-service/routers/ai.py
  frontend/app/youtube/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: implement bilingual transcript display for YouTube feature
  .lintstagedrc.json
  frontend/app/youtube/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

fix: add YouTube report generation endpoint and improve button layout
  ai-service/routers/ai.py
Due: none

feat: baseline 2.0 - workspace AI chat with multi-resource support
  ai-service/main.py
  ai-service/routers/ai.py
  ai-service/routers/report.py
  ai-service/services/grok_client.py
  ai-service/services/openai_client.py
  backend/package.json
  backend/prisma/migrations/20251110212627_add_youtube_videos/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/reports/reports.controller.ts
  backend/src/reports/reports.service.ts
  backend/src/resources/pdf-thumbnail.service.ts
  backend/src/scripts/update-arxiv-thumbnails.ts
  backend/src/youtube-videos/dto/save-video.dto.ts
  backend/src/youtube-videos/youtube-videos.controller.ts
  backend/src/youtube-videos/youtube-videos.module.ts
  backend/src/youtube-videos/youtube-videos.service.ts
  frontend/app/library/page.tsx
  frontend/app/page.tsx
  frontend/app/workspace/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/PDFThumbnail.tsx
  frontend/components/ReportWorkspace.tsx
  frontend/components/Sidebar.tsx
  frontend/lib/use-report-workspace.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

fix: resolve YouTube page Chinese character encoding issues and add Windows service scripts
  THUMBNAIL_USAGE.md
  TODO.md
  ai-service/models/schemas.py
  ai-service/routers/ai.py
  ai-service/services/workspace_pipeline.py
  ai-service/services/workspace_task_manager.py
  backend/package.json
  backend/src/youtube/youtube.service.ts
  docker-compose.yml
  docs/engineering/ARCHITECTURE.md
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  package-lock.json
  start-all.bat
  stop-all.bat
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

feat: improve sidebar and AI panel collapse buttons UI design
  frontend/app/page.tsx
  frontend/components/Sidebar.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: ui refactoring - remove thumbnails and optimize layout
  ai-service/main.py
  ai-service/routers/ai.py
  backend/src/proxy/proxy.controller.ts
  backend/src/resources/resources.controller.ts
  backend/src/resources/resources.service.ts
  frontend/app/page.tsx
  frontend/app/youtube/page.tsx
  frontend/components/ReportWorkspace.tsx
  frontend/components/Sidebar.tsx
  frontend/lib/use-report-workspace.ts
  frontend/next.config.js
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

feat: add AI service integration and import URL functionality
  ai-service/scripts/update-secrets.bat
  frontend/app/api/ai-service/ai/chat/route.ts
  frontend/app/api/ai-service/ai/quick-action/route.ts
  frontend/app/page.tsx
  start-all.bat
  start-frontend-clean.bat
  stop-all.bat
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

test: add basic test files to satisfy pre-push hook
  backend/src/app.test.ts
  frontend/app/page.test.tsx
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

fix: correct AI service API endpoint paths
  frontend/app/api/ai-service/ai/chat/route.ts
  frontend/app/api/ai-service/ai/quick-action/route.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

fix: implement robust PDF URL extraction for arXiv and manual imports
  backend/src/modules/crawler/arxiv.service.ts
  backend/src/modules/resources/resources.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check'

fix: create missing AI API routes and fix chat endpoint path
  frontend/app/api/ai-service/ai/insights/route.ts
  frontend/app/api/ai-service/ai/summary/route.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: add inline loading indicator in AI chat messages
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: add PDF URL migration script to fix existing papers
  backend/src/scripts/fix-pdf-urls.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check'

feat: add YouTube URL import support
  backend/prisma/schema.prisma
  backend/src/modules/resources/resources.controller.ts
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

fix: fetch YouTube videos from both sources in YouTube tab
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

fix: handle YOUTUBE_VIDEO type clicks and extract videoId from URL
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: enhance YouTube transcript retrieval with multi-language support
  backend/package.json
  backend/src/modules/youtube/youtube.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check'

fix: fetch real YouTube video titles using oEmbed API
  backend/src/modules/resources/resources.service.ts
  backend/src/scripts/fix-youtube-titles.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check'

chore: update package-lock.json for youtube-transcript dependency
  package-lock.json
Due: prettier --write

feat: support resource replacement and real titles for Papers/Projects/News
  backend/src/modules/resources/resources.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check'

refactor: simplify search bar UI and improve sort dropdown
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: add advanced filter infrastructure and badge indicator
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

fix: display YouTube icon for YOUTUBE_VIDEO resource type
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: redesign resource type icons with vibrant colors
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

refactor: rename Import URL button to 'Import' with consistent styling
  frontend/app/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && npm run type-check'

feat: add force navigation and file upload support
  backend/src/modules/resources/resources.controller.ts
  frontend/components/layout/Sidebar.tsx
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'

fix: enable AI assistant to use full PDF content as context
  backend/src/modules/notes/notes.controller.ts
  backend/src/modules/notes/notes.service.ts
  frontend/components/features/AIAssistant.tsx
Due: eslint --fix, prettier --write, bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npm run type-check'
