Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

.lintstagedrc.json:

{
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "backend/**/*.{ts,tsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd backend && npm run type-check'"
  ],
  "backend/**/*.{js,jsx}": [
    "bash -c 'cd backend && npx eslint --fix'",
    "prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write",
    "bash -c 'cd frontend && npm run type-check'"
  ],
  "frontend/**/*.{js,jsx}": [
    "bash -c 'cd frontend && npx eslint --fix'",
    "prettier --write"
  ]
}

feat(ai-studio): add AI model selector dropdown in Chat panel
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-studio): use database API keys for AI chat and fix icon display
  backend/src/modules/ai-studio/ai-studio-chat.service.ts
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-studio): add bulk import and markdown rendering
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(studio): add source deduplication and Select All button
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(search): implement comprehensive ranking algorithm
  backend/src/modules/ai-studio/ai-studio-source.service.ts
  backend/src/modules/ai/search.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(data-collection): add deduplication check and new sources
  backend/prisma/seed-data-sources.ts
  backend/src/modules/data-collection/data-source.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(studio): improve message renderer for structured content
  frontend/components/ai-office/chat/MessageRenderer.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(search): add News and Scholar search sources
  backend/src/modules/ai-studio/ai-studio-source.service.ts
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(studio): make search result links clickable
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai/ai-chat.service.ts
  backend/src/modules/crawler/arxiv.service.ts
  backend/src/modules/crawler/hackernews-comments.service.ts
  backend/src/modules/crawler/web-scraper.service.ts
  backend/src/modules/data-management/services/metadata-extractor.service.ts
  backend/src/modules/notes/notes.service.ts
  backend/src/modules/proxy/advanced-extractor.service.ts
  backend/src/modules/resources/deduplication.service.ts
  backend/src/modules/workspace/workspace-task.service.ts
  backend/src/modules/youtube/youtube.service.ts
  backend/src/scripts/test-gemini-image.ts
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(search): add Blogs, Reports, Policy search sources
  backend/src/modules/ai-studio/ai-studio-source.service.ts
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(studio): make AI response citations clickable links
  frontend/app/studio/[projectId]/page.tsx
  frontend/components/ai-office/chat/MessageRenderer.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor(library): rename AI Picks to Inspiration and simplify layout
  frontend/app/library/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(studio): improve citation link matching algorithm
  frontend/components/ai-office/chat/MessageRenderer.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

style(sidebar): rename Inspiration to Sparkle with star icon
  frontend/components/layout/Sidebar.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(sparkle): add AI image generation tab
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/ai-image/ai-image.controller.ts
  backend/src/modules/ai-image/ai-image.module.ts
  backend/src/modules/ai-image/ai-image.service.ts
  frontend/app/library/page.tsx
  frontend/components/ai-image/ImageGenerator.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

refactor(ai-image): use system AIModel config and redesign UI
  backend/src/modules/ai-image/ai-image.module.ts
  backend/src/modules/ai-image/ai-image.service.ts
  frontend/app/library/page.tsx
  frontend/components/ai-image/ImageGenerator.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-image): remove duplicate api/v1 prefix from controller
  backend/src/modules/ai-image/ai-image.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-image): add Gemini image generation support
  backend/src/modules/ai-image/ai-image.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-image): add two-stage image generation with dual model selection
  backend/src/modules/ai-image/ai-image.controller.ts
  backend/src/modules/ai-image/ai-image.service.ts
  frontend/components/ai-image/ImageGenerator.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-image): add multi-source content extraction and file upload
  backend/src/modules/ai-image/ai-image.controller.ts
  backend/src/modules/ai-image/ai-image.module.ts
  backend/src/modules/ai-image/ai-image.service.ts
  backend/src/modules/ai-image/content-extractor.service.ts
  frontend/components/ai-image/ImageGenerator.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

style(logo): redesign to minimalist tech aesthetic
  frontend/app/layout.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/public/favicon.svg
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-image): add YouTube tab and processing steps panel
  backend/src/modules/ai-image/ai-image.service.ts
  frontend/components/ai-image/ImageGenerator.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/public/favicon.svg
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'
