Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-group): respect @mention order for debate role assignment
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): comprehensive fix for AI interaction issues
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
  docs/product/ai-group-implementation-audit.md
  docs/product/ai-group-interaction-spec-v2.md
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix debate topic confusion from history context
  backend/src/modules/ai-group/ai-group.service.ts
  docs/prd/ai_studio_optimization.md
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): fix AI debate role confusion and context issues
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): filter old debate context to prevent topic confusion
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): implement isolated debate system based on industry best practices
  backend/prisma/schema.prisma
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.module.ts
  backend/src/modules/ai-group/debate.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

chore(prisma): add migration for debate system tables
  backend/prisma/migrations/20251128_add_debate_system/migration.sql
Due: none

fix(ai-group): send debate messages to frontend in real-time via WebSocket
  backend/src/modules/ai-group/ai-group.controller.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai-group/debate.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): add more debate trigger keywords including '讨论', 'vs', 'battle'
  backend/src/modules/ai-group/ai-group.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): prevent false debate trigger with stricter keywords
  backend/src/modules/ai-group/ai-group.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): restore debate keywords PK, 红蓝, 讨论一下
  backend/src/modules/ai-group/ai-group.controller.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): filter out debate-like messages in normal chat mode
  backend/src/modules/ai-group/ai-group.service.ts
  docs/prd/ai_studio_optimization_v3.1.md
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-group): implement intelligent context router based on best practices
  backend/src/modules/ai-group/ai-group.module.ts
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai-group/context-router.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): improve image generation reliability for AI members
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai): correctly use configured Gemini image models
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): use LAST user message for intent detection, not first
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): always include latest user message in smart context
  backend/src/modules/ai-group/ai-group.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(ai-group): always include latest user message in smart context
  ai-service/routers/trend.py
  ai-service/services/precise_citation.py
  ai-service/services/trend_analysis.py
  backend/prisma/migrations/20251128_add_deduplication_fields/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/clean-duplicate-resources.ts
  backend/scripts/fix-rawdata-relations.ts
  backend/src/modules/resources/deduplication.service.spec.ts
  backend/src/modules/resources/deduplication.service.ts
  docs/prd/ai_studio_implementation_plan.md
  docs/prd/ai_studio_tasks.md
  frontend/components/ai-office/chat/ChatPanel.tsx
  frontend/components/ai-office/chat/SlashCommandMenu.tsx
  frontend/components/ai-office/layout/WorkspaceLayout.tsx
  frontend/components/ai-studio/CitationPreview.tsx
  frontend/components/ai-studio/CommandPalette.tsx
  frontend/components/ai-studio/ComparisonMatrix.tsx
  frontend/components/ai-studio/HypeCycleChart.tsx
  frontend/components/ai-studio/KnowledgeGraph.tsx
  frontend/components/ai-studio/ResearchPlan.tsx
  frontend/components/ai-studio/TrendReport.tsx
  frontend/components/ai-studio/index.ts
  frontend/stores/aiStudioStore.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

debug: add logging to trace image generation detection
  backend/src/modules/ai-group/ai-group.service.ts
  backend/src/modules/ai/ai-chat.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(studio): add interactive AI Studio demo page
  backend/prisma/migrations/20251128235252_add_deduplication_fields/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/clean-duplicate-resources.ts
  backend/scripts/fix-rawdata-relations.ts
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-office): use internal URL for AI service + redesign AI Studio
  frontend/app/api/ai-office/chat/route.ts
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(studio): remove nested layout causing double sidebar
  docs/analysis/ai-office-vs-genspark.md
  docs/analysis/genspark.md
  frontend/app/studio/layout.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(studio): add prominent deep research input box per PRD v3.1
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-studio): use global Sidebar and add search source toggle
  frontend/app/studio/layout.tsx
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-studio): replace all demo data with real backend API calls
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-studio): fix TypeError and use configured default AI model
  ai-service/routers/report.py
  frontend/app/api/ai-office/chat/route.ts
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-studio): prevent page scroll jump when starting research
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-studio): implement NotebookLM-style research project management
  backend/prisma/migrations/20251129_add_research_projects/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/ai-studio/ai-studio-chat.service.ts
  backend/src/modules/ai-studio/ai-studio-output.service.ts
  backend/src/modules/ai-studio/ai-studio-source.service.ts
  backend/src/modules/ai-studio/ai-studio.controller.ts
  backend/src/modules/ai-studio/ai-studio.module.ts
  backend/src/modules/ai-studio/ai-studio.service.ts
  backend/src/modules/ai-studio/dto/index.ts
  docs/prd/ai-studio-redesign-v4.0.md
  frontend/app/studio/[projectId]/layout.tsx
  frontend/app/studio/[projectId]/page.tsx
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(prisma): rename migration folder with proper timestamp format
  backend/prisma/migrations/20251129140000_add_research_projects/migration.sql
Due: none

fix(studio): show clear error message when not authenticated
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(prisma): make migration idempotent for partial failures
  backend/prisma/migrations/20251129140000_add_research_projects/migration.sql
Due: none

fix(deploy): run resolve-migrations before prisma migrate deploy
  backend/nixpacks.toml
Due: none

fix(auth): return 401 instead of 500 for unauthorized requests
  backend/src/common/guards/jwt-auth.guard.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix(studio): use Bearer token authentication instead of cookies
  frontend/app/studio/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(studio): fix auth and duplicate sidebar issues
  frontend/app/studio/[projectId]/layout.tsx
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat(ai-studio): integrate multi-source internet search
  backend/src/modules/ai-studio/ai-studio-source.service.ts
  backend/src/modules/ai-studio/ai-studio.module.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-studio): implement Quick Search and Deep Research modes
  backend/src/modules/ai-studio/ai-studio-source.service.ts
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(studio): improve Add/View buttons with visual feedback
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix(ai-studio): add deduplication when adding sources to project
  backend/src/modules/ai-studio/ai-studio-source.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat(ai-studio): implement real AI chat with source context
  backend/src/modules/ai-studio/ai-studio-chat.service.ts
  frontend/app/studio/[projectId]/page.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
