Repository JUNJIE-DUAN/deepdive-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: redesign admin UI with card-based layout for whitelists and collections
  backend/nest-cli.json
  backend/src/main.ts
  backend/src/modules/ai-office/quick-generate.service.ts
  backend/src/modules/data-management/controllers/import-manager.controller.ts
  backend/src/modules/data-management/data-management.module.ts
  backend/src/modules/data-management/services/metadata-extractor.service.ts
  backend/src/modules/data-management/services/source-whitelist.service.ts
  frontend/app/resource/[id]/page.tsx
  frontend/components/admin/CollectionManagement.tsx
  frontend/components/admin/WhitelistManagement.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: add Railway deployment configuration
  backend/Dockerfile
  backend/railway.toml
  frontend/Dockerfile
  frontend/railway.toml
  infra/railway/README.md
  infra/railway/backend.env.example
  infra/railway/deploy.sh
  infra/railway/frontend.env.example
Due: prettier --write

feat: add OCI infrastructure and deployment configuration
  .github/workflows/oci-deploy.yml
  backend/src/modules/data-management/services/data-integrity-validator.service.ts
  backend/src/scripts/repair-paper-raw-data.ts
  infra/README.md
  infra/oci/ACCOUNT_INFO_TEMPLATE.md
  infra/oci/DEPLOYMENT_STATUS.md
  infra/oci/FREE_TIER_QUOTA.md
  infra/oci/HOW_TO_DEPLOY.md
  infra/oci/PRE_DEPLOYMENT_CHECKLIST.md
  infra/oci/QUICK_INFO_FORM.txt
  infra/oci/README.md
  infra/oci/WHAT_I_NEED.md
  infra/oci/ci-cd/oci-deploy.yml
  infra/oci/cleanup_oci_resources.py
  infra/oci/deploy.ps1
  infra/oci/docs/ARCHITECTURE.md
  infra/oci/docs/COST_MANAGEMENT.md
  infra/oci/docs/DEPLOYMENT_SUMMARY.md
  infra/oci/docs/FINAL_REPORT.md
  infra/oci/docs/OCI_DEPLOYMENT_PLAN.md
  infra/oci/docs/QUICK_START.md
  infra/oci/docs/README_OCI_DEPLOYMENT.md
  infra/oci/init/backend.sh
  infra/oci/init/frontend.sh
  infra/oci/scripts/automated-deploy.sh
  infra/oci/scripts/deploy-with-credentials.sh
  infra/oci/scripts/deploy.sh
  infra/oci/scripts/pre-check.sh
  infra/oci/terraform/.terraform.lock.hcl
  infra/oci/terraform/main.tf
  infra/oci/terraform/user_data/ai.sh
  infra/oci/terraform/user_data/backend.sh
  infra/oci/terraform/user_data/frontend.sh
  infra/oci/terraform/variables.tf
  infra/railway/DEPLOY.md
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: add AI service Docker configuration
  ai-service/Dockerfile
  ai-service/railway.toml
Due: none

chore: add OCI sensitive files to gitignore
  .gitignore
Due: none

chore: trigger Railway rebuild
  README.md
Due: prettier --write

chore: trigger rebuild 1763696414
  .railway-trigger
Due: none

fix: switch to nixpacks builder for Railway deployment
  ai-service/railway.toml
  backend/railway.toml
Due: none

fix: add Procfiles for correct PORT binding on Railway
  ai-service/Procfile
  backend/Procfile
Due: none

feat: update Dockerfiles and add AI service configs
  ai-service/Dockerfile
  ai-service/configs/templates/comparison.v1.json
  ai-service/configs/templates/insights.v1.json
  ai-service/configs/templates/relationship.v1.json
  ai-service/configs/templates/summary.v1.json
  ai-service/main.py
  ai-service/services/template_loader.py
  backend/Dockerfile
  backend/prisma/schema.prisma
  frontend/Dockerfile
  frontend/public/.gitkeep
  frontend/railway.toml
Due: prettier --write

fix: downgrade jsdom to v24 for CommonJS compatibility
  backend/package.json
Due: prettier --write

fix: use legacy-peer-deps for canvas/jsdom compatibility
  backend/Dockerfile
Due: none

fix: add root health endpoint, graceful neo4j degradation, and alphaxiv.org whitelist
  backend/src/common/neo4j/neo4j.service.ts
  backend/src/main.ts
  backend/src/modules/data-management/services/source-whitelist.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: use environment variables for API rewrites in production
  frontend/next.config.js
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix'

fix: use config.apiUrl for all API calls instead of hardcoded paths
  frontend/components/admin/CollectionManagement.tsx
  frontend/components/admin/DataQualityManagement.tsx
  frontend/components/admin/WhitelistManagement.tsx
  frontend/components/ai-office/QuickGenerateInput.tsx
  frontend/components/data-management/CollectionMonitor.tsx
  frontend/components/data-management/CollectionRuleManager.tsx
  frontend/components/data-management/DataImportDialog.tsx
  frontend/components/data-management/DataQualityManager.tsx
  frontend/components/data-management/SourceWhitelistManager.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: use config.apiUrl for all remaining API calls
  frontend/components/admin/CollectionManagement.tsx
  frontend/components/admin/WhitelistManagement.tsx
  frontend/components/data-management/CollectionRuleManager.tsx
  frontend/components/data-management/SourceWhitelistManager.tsx
  frontend/components/features/BlogCollectionManager.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: correct API paths for data-management dashboard
  frontend/components/data-management/DataManagementDashboard.tsx
  frontend/components/data-management/ProfessionalDataManagementPage.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: remove hardcoded localhost URLs in pdf-thumbnail.ts
  frontend/lib/pdf-thumbnail.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: use env vars for CSP headers in next.config.js
  frontend/next.config.js
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix'

fix: add ARG for build-time env vars in Dockerfile
  frontend/Dockerfile
Due: none

fix: allow Railway domains in CORS config for ai-service
  ai-service/main.py
Due: none

fix: use dynamic import workaround for youtubei.js ESM module
  backend/src/modules/youtube/youtube.service.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

fix: change default translation model from openai to grok
  ai-service/routers/ai.py
  frontend/app/api/ai-service/ai/translate-single/route.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: use grok for translation in youtube page (OpenAI quota exhausted)
  frontend/app/youtube/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: implement responsive layout to prevent horizontal overflow
  frontend/app/globals.css
  frontend/app/page.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: comprehensive system hardening and security improvements
  .github/workflows/deploy-protection.yml
  .github/workflows/smoke-tests.yml
  .husky/pre-push
  backend/src/common/filters/all-exceptions.filter.ts
  backend/src/common/guards/jwt-auth.guard.ts
  backend/src/common/guards/optional-jwt-auth.guard.ts
  backend/src/main.ts
  backend/src/modules/collections/collections.controller.ts
  docs/DEPLOYMENT_GUIDE.md
  docs/HARDENING_EXECUTION.md
  docs/OPTIMIZATION_PLAN.md
  frontend/vitest.config.ts
  scripts/rollback.sh
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: properly fix vitest timeout issue without bypassing protection
  .husky/pre-push
  docs/HARDENING_SUMMARY.md
  docs/TESTING_ISSUES.md
  frontend/package.json
  frontend/vitest.config.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

chore: temporarily limit pre-push to frontend tests, document backend issues
  docs/BACKEND_TEST_ISSUES.md
  package.json
Due: prettier --write

fix: complete backend test fixes and restore full protection net
  backend/src/common/deduplication/deduplication.service.spec.ts
  backend/src/common/deduplication/deduplication.service.ts
  backend/src/modules/crawler/deduplication.service.spec.ts
  backend/src/modules/crawler/deduplication.service.ts
  backend/src/modules/crawler/hackernews.service.spec.ts
  package.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: implement responsive navigation and UI optimization (Phase 1)
  docs/BACKEND_TEST_ISSUES.md
  docs/UI_OPTIMIZATION_PLAN.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/layout/ResponsiveNav.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: improve responsive nav UX and add Phase 2 components
  frontend/.browserslistrc
  frontend/app/page.tsx
  frontend/components/layout/ResponsiveContainer.tsx
  frontend/components/layout/ResponsiveGrid.tsx
  frontend/components/layout/ResponsiveNav.tsx
  frontend/components/layout/index.ts
  frontend/components/ui/ResponsiveCard.tsx
  frontend/components/ui/index.ts
  frontend/tailwind.config.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: unify button sizes and enable anonymous bookmark功能
  backend/src/modules/collections/collections.controller.ts
  frontend/app/page.tsx
  frontend/components/layout/ResponsiveNav.tsx
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check', bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: 统一导航按钮间距，将Sort按钮移入ResponsiveNav组件
  frontend/app/page.tsx
  frontend/components/layout/ResponsiveNav.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

docs: 添加全面的UI/UX易用性审查报告
  docs/UX_USABILITY_AUDIT.md
Due: prettier --write

fix: 修改vitest配置为forks pool以解决Windows环境下的超时问题
  frontend/vitest.config.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

feat: 添加Google OAuth认证支持
  backend/package.json
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/strategies/google.strategy.ts
  docs/GOOGLE_OAUTH_SETUP.md
  package-lock.json
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

feat: 前端Google OAuth认证集成
  frontend/app/auth/callback/page.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/layout/ResponsiveNav.tsx
  frontend/components/layout/UserProfileButton.tsx
  frontend/contexts/AuthContext.tsx
  frontend/lib/auth.ts
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

fix: 使Google OAuth策略在未配置环境变量时不报错
  backend/src/modules/auth/strategies/google.strategy.ts
Due: prettier --write, bash -c 'cd backend && npx eslint --fix', bash -c 'cd backend && npm run type-check'

docs: 添加Railway生产环境配置指南
  docs/RAILWAY_ENV_CONFIG.md
Due: prettier --write

feat: 移动Login按钮到侧边栏并添加登录提示
  frontend/app/page.tsx
  frontend/components/layout/ResponsiveNav.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/components/layout/UserProfileButton.tsx
Due: prettier --write, bash -c 'cd frontend && npx eslint --fix', bash -c 'cd frontend && npm run type-check'

Path conditions:
  prettier --write: ((((any of: **/*.{json,md,yml,yaml}) or (any of: backend/**/*.{ts,tsx})) or (any of: backend/**/*.{js,jsx})) or (any of: frontend/**/*.{ts,tsx})) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd backend && npx eslint --fix': (any of: backend/**/*.{ts,tsx}) or (any of: backend/**/*.{js,jsx})
  bash -c 'cd backend && npm run type-check': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npx eslint --fix': (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{js,jsx})
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
